/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "helpers/variables";
@import "helpers/mixins";


 body {
     font-family: Helvetica;
 }


.cnt-bla {

    h5{
        font-family: Cambria;
        font-size: $title;

    }

}

.cnt-bla {

    .information {

        .info-btn {

            color: $primary-color;
        }
    }
}

.bottom-footer {

    a {
        @extend .info-btn;
        padding-left: 10px;
    }
}

.bottom-footer {

    a {
        &:hover {
            background-color: red;
            text-decoration: double;
        }
    }
}

.website {

    &:first-child {
        padding-right: 40px;
    }
}


.website {
    @include border;
}